<%- model_class = Song -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<div class="row">
  <div class="col-md-8">
    <%= render :partial => 'form' %>
  </div>
</div>
