<%- model_class = Song -%>

<div class="page-header container">
  <div class="row">
    <div class="col-md-9">
      <h1>Repertoire</h1>
      <!-- count of number of songs -->
      <h3><%= @songs.count %> Songs </h3>
    </div>

    <!-- action group for song repertoire -->
    <div class="col-md-3 pull-right">
      <%= link_to t('.new', :default => t("Add a song to repertoire")),
        new_song_path,
        :class => 'btn btn-success' %>
    </div>
  </div>
</div>

<%= render partial: 'song_list' %>
